# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore system-specific files (macOS, Windows)
.DS_Store
Thumbs.db

Lib/